<form [formGroup]="empresaForm"  (ngSubmit)="onSubmit()">

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        <div class="p-field p-col-6  ">
            <span class="p-float-label ">
                <p-inputMask  mask="99.999.999/9999-99" formControlName="cnpj" autocomplete="off"></p-inputMask>
                <label for="cnpj" class="label-obrigatorio" >CNPJ</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['cnpj'].dirty && empresaForm.controls['cnpj'].errors" margin-left>
                CNPJ é obrigatório</span>
        </div>

        <div class="p-field p-col-6">
            <span class="p-float-label ">
                <p-dropdown [autoDisplayFirst]="false" [options]="tipoEmpresas"
                     [showClear]="true" optionLabel="label"
                    optionValue="label" formControlName="tipoEmpresa" (onChange)="onChange($event.value)"></p-dropdown>
                <label for="inputtext" class="label-obrigatorio">Tipo de Empresa</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['tipoEmpresa'].dirty && empresaForm.controls['tipoEmpresa'].errors" margin-left>
                Tipo de empresa é obrigatória</span>
        </div>
    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        <div class="p-field p-col-12" *ngIf="tiposMatriz.length > 0">
            <span class="p-float-label ">
                <p-dropdown [autoDisplayFirst]="false" [options]="tiposMatriz"
                     [showClear]="true" optionLabel="nome"
                    optionValue="id" formControlName="matrizId"></p-dropdown>
                <label for="inputtext" class="label-obrigatorio">Matriz</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['matrizId'].dirty && empresaForm.controls['matrizId'].errors" margin-left>
                Empresa Matriz é obrigatória</span>
        </div>
    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        <div class="p-field p-col-12 ">
            <span class="p-float-label ">
                <input type="text" id="inputtext" pInputText formControlName="nome" autocomplete="off"/>
                <label for="inputtext" class="label-obrigatorio">Nome da Empresa</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['nome'].dirty && empresaForm.controls['nome'].errors" margin-left>
                Nome é obrigatório</span>
        </div>
        <div class="p-field p-col-12 ">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="razaoSocial" autocomplete="off"/>
                <label for="inputtext" class="label-obrigatorio" >Razão Social</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['razaoSocial'].dirty && empresaForm.controls['razaoSocial'].errors" margin-left>
                Razão é obrigatória</span>
        </div>
    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <p-inputMask  mask="(99)99999-9999" formControlName="cnpj" formControlName="contato" autocomplete="off"></p-inputMask>
                <label for="inputtext"class="label-obrigatorio">Contato</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['contato'].dirty && empresaForm.controls['contato'].errors" margin-left>
                Contato é obrigatório</span>
        </div>
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="email" />
                <label for="inputtext" class="label-obrigatorio" >E-mail</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['email'].dirty && empresaForm.controls['email'].errors" margin-left>
                Email é obrigatório</span>
        </div>
    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <p-inputMask  mask="99.999-999" formControlName="cnpj" formControlName="enderecoCep"></p-inputMask>
                <label for="inputtext" class="label-obrigatorio">CEP</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoCep'].dirty && empresaForm.controls['enderecoCep'].errors" margin-left>
                CEP é obrigatório</span>
        </div>
        <div class="p-field p-col-6 ">
            <button pButton type="button" label="Buscar CEP" icon="pi pi-check" [loading]="isLoading"
                (click)="cep()" class="p-button-sm"></button>
        </div>

    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
    <div class="p-field p-col-6 ">
        <span class="p-float-label">
            <input type="text" id="enderecoUf" pInputText formControlName="enderecoUf" autocomplete="off"/>
            <label for="inputtext" class="label-obrigatorio" >UF</label>
        </span>
        <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoUf'].dirty && empresaForm.controls['enderecoUf'].errors" margin-left>
            UF é obrigatório</span>
    </div>

   
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="enderecoBairro"/>
                <label for="inputtext" class="label-obrigatorio" >Bairro</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoBairro'].dirty && empresaForm.controls['enderecoBairro'].errors" margin-left>
                Bairro é obrigatório</span>
        </div>


        
    </div>

    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">
        
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="enderecoLocalidade"/>
                <label for="inputtext" class="label-obrigatorio">Cidade</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoLocalidade'].dirty && empresaForm.controls['enderecoLocalidade'].errors" margin-left>
                Cidade é obrigatória</span>
        </div>
        
        <div class="p-field p-col-6 ">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText formControlName="enderecoLogradouro"/>
                <label for="inputtext" class="label-obrigatorio" >Logradouro</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoLogradouro'].dirty && empresaForm.controls['enderecoLogradouro'].errors" margin-left>
                Logradouro é obrigatório</span>
        </div>
       
    </div>
    <div class="p-fluid p-grid p-mt-2 p-d-flex p-jc-between">

        <div class="p-field p-col-12 ">
            <span class="p-float-label">
                <input type="text" id="enderecoComplemento" pInputText formControlName="enderecoComplemento"/>
                <label for="enderecoComplemento" class="label-obrigatorio">Complemento</label>
            </span>
            <span class="p-float-label validacao-error" *ngIf="empresaForm.controls['enderecoComplemento'].dirty && empresaForm.controls['enderecoComplemento'].errors" margin-left>
                Complemento é obrigatório</span>
        </div>

    </div>

        <div class="p-d-flex p-jc-between">
            <div class="p-mt-6"> <button pButton type="button" label="Listas de Empresas"
                    class="p-button-sm" routerLink="/"></button>
            </div>
            <div class="p-mt-6"> <button pButton type="submit" label="Salvar"
                    class="p-button-sm" ></button>
            </div>
        </div>
    </form>