<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>

<h3 class="first">Basic</h3>
<p-table >
    <ng-template pTemplate="header">
        <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" >
        <tr>
            <td>aaaa</td>
            <td>aaaa</td>
            <td>aaaa</td>
            <td>aaaa</td>
        </tr>
       
    </ng-template>
</p-table>
