/* You can add global styles to this file, and also import other style files */
.asteristico-obrigatoriedade {
    color: rgb(245, 0, 0);
    font-size: 18px;
    font-weight: 800;
    padding-left: 3px;
}

.validacao-error {
    color: rgb(245, 0, 0);
    font-size: 12px;
}